@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  background-color: whitesmoke;
}

/* HEADER */
.header {
  width: 100%;
  height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f28500;
}

.header-brand {
  padding-left: 20px;
  width: 15%;
  font-family: "PT Sans";
  font-size: 23px;
  color: whitesmoke;
  float: left;
}

.header-brand:hover {
  cursor: pointer;
}

.tab {
  margin-left: 10px;
  margin-right: 20px;
  padding: 5px 3px 5px 3px;
  border-radius: 5px;
  float: left;
  color: white;
  font-family: "PT Sans";
}

.tab:hover {
  cursor: pointer;
  background-color: #e48400;
}

.username {
  float: right;
  margin-right: 20px;
  padding-top: 5px;
  font-family: "PT Sans";
  color: white;
}

.logout-btn {
  float: right;
  margin-right: 20px;
  height: 30px;
  width: 70px;
  color: white;
  background-color: #e48400;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: "PT Sans";
  font-size: 15px;
}

.logout-btn:hover {
  cursor: pointer;
  background-color: silver;
  color: grey;
}

/* ===  */

/* LOGIN */

.login-card {
  height: 350px;
  width: 500px;
  background-color: white;
  border-radius: 5px;
  margin-top: 100px;
  box-shadow: 5px 5px 10px 3px silver;
}

.login-brand {
  position: relative;
  text-align: center;
  font-family: "PT Sans";
  font-size: 40px;
  color: #e48400;
  top: 40px;
}

.inpt {
  border: none;
  outline: none;
  color: gray;
}

.login-usename-inpt {
  position: relative;
  top: 70px;
  width: 300px;
  height: 30px;
  border-bottom: 1px solid silver;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}

.login-usename-inpt:focus {
  border-bottom: 1px solid black;
}

.password {
  position: relative;
  width: 300px;
  height: 30px;
  top: 100px;
  border-bottom: 1px solid silver;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  outline: none;
}

.password:focus {
  border-bottom: 1px solid black;
}

.login-btn {
  position: relative;
  width: 300px;
  height: 30px;
  top: 130px;
  color: white;
  background-color: #f28500;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: "PT Sans";
  font-size: 15px;
}

.login-btn:hover {
  cursor: pointer;
  background-color: #e48400;
  color: gray;
}

input[type="text"] {
  font-family: "PT Sans";
  font-size: 15px;
}

input[type="password"] {
  font-family: "PT Sans";
  font-size: 15px;
}

/* TABLE */

.table-bg {
  float: left;
  height: 500px;
  width: 64%;
  margin-top: 15px;
  overflow-y: scroll;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px 0px 10px 10px;
}

.product-card {
  float: left;
  height: 200px;
  width: 164px;
  background-color: white;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 5px lightgrey;
}

.product-img {
  height: 140px;
  width: 100%;
  border-radius: 5px;
}

.product-title {
  font-family: "PT Sans";
  color: gray;
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 0px;
  margin-top: 5px;
  padding-left: 10px;
}

.mrp {
  font-family: "PT Sans";
  color: gray;
  margin: 0px;
  padding-left: 10px;
}

.container {
  float: left;
  background-color: whitesmoke;
  width: 100%;
  border-radius: 3px;
  padding: 5px 0px 5px 0px;
}

.actions-bg {
  float: left;
  height: 500px;
  width: 31.7%;
  margin-left: 20px;
  background-color: white;
  border: 1px solid lightgray;
  margin-top: 15px;
  border-radius: 5px;
  padding: 10px;
}

.filter-form {
  border: 1px solid lightgray;
  height: 300px;
  width: 410px;
  border-radius: 5px;
  padding: 30px 7px 30px 7x;
  background-color: whitesmoke;
}

.filter-inpt {
  border: 1px solid lightgray;
  border-radius: 3px;
  width: 97%;
  height: 30px;
}

.filter-select-bg {
  z-index: 1;
  position: absolute;
  width: 405px;
  height: 250px;
  box-shadow: 2px 2px 10px silver;
  background-color: white;
  border-radius: 3px;
  overflow-y: scroll;
}

.filter-select-ele {
  padding: 9px;
  font-family: "PT Sans";
  color: grey;
  margin: 0px;
  height: 20px;
  cursor: pointer;
}

.filter-select-ele:hover {
  background-color: #97be97;
}

.filter-btn {
  color: white;
  background-color: #f28500;
  width: 50px;
  border: none;
  outline: none;
  border-radius: 3px;
  height: 30px;
  font-family: "PT Sans";
  font-size: 15px;
}

.filter-btn:hover {
  cursor: pointer;
  background-color: #e48400;
  color: whitesmoke;
}

.add-product-btn {
  color: white;
  background-color: #f28500;
  width: 100px;
  border: none;
  outline: none;
  border-radius: 3px;
  height: 30px;
  font-family: "PT Sans";
  font-size: 15px;
}

.add-product-label {
  margin-top: 10px;
  margin-left: 0px;
  font-family: "PT Sans";
  color: gray;
  font-size: 13px;
  width: 150px;
  margin-right: 0px;
}

.add-product-btn:hover {
  cursor: pointer;
  background-color: #e48400;
  color: whitesmoke;
}

.add-product-modal {
  position: fixed;
  width: 1000px;
  height: 500px;
  background-color: white;
  z-index: 1;
  border: 1px solid lightgray;
  margin-left: 100px;
  margin-top: 25px;
  border-radius: 5px;
  overflow-y: scroll;
}

.modal-title {
  text-align: center;
  color: #f28500;
  font-family: "PT Sans";
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 800px;
}

.w3-animate-zoom {
  animation: animatezoom 0.2s;
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.add-new-product-bg {
  padding: 20px;
}

.add-product-inpt-container {
  float: left;
  margin: 5px;
}

.label {
  float: left;
  font-family: "PT Sans";
  font-size: 15px;
  color: grey;
  width: 90px;
  height: 20px;
  margin: 20px 10px 0px 10px;
}

.checkbox {
  float: left;
  margin: 10px 0px 12px 10px;
}

.label-checkbox {
  width: 150px;
}

.add-new-product-inpt {
  width: 295px;
  height: 30px;
  margin: 0px;
  border: 1px solid lightgray;
  border-radius: 3px;
  background-color: white;
}

.btn {
  border: none;
  outline: none;
  font-family: "PT Sans";
  border-radius: 5px;
}

.add-new-product-btn {
  margin: 5px;
  height: 30px;
  width: 50px;
  background-color: #f28500;
  color: white;
}

.add-btn {
  margin: 15px 5px;
}

.add-new-product-btn:hover {
  cursor: pointer;
  background-color: #e48400;
  color: whitesmoke;
}

.quantity-bg {
  float: left;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 2px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.failure-message {
  position: relative;
  top: 135px;
  background-color: #ff1a1a;
  width: 450px;
  height: 20px;
  padding: 5px;
  border-radius: 5px;
  font-family: "PT Sans";
  color: white;
}

.loader {
  font-family: "PT Sans";
  font-size: 20px;
  margin-left: 45%;
  margin-top: 200px;
  color: grey;
}

.no-products {
  font-family: "PT Sans";
  text-align: center;
  font-size: 40px;
  color: #e48400;
}

.delete-btn {
  background-color: red;
}

.delete-btn:hover {
  background-color: lightcoral;
}

.delete-product-modal {
  position: fixed;
  width: 400px;
  height: 140px;
  background-color: white;
  z-index: 1;
  border: 1px solid lightgray;
  margin-left: 200px;
  margin-top: 50px;
  border-radius: 5px;
  padding: 20px;
}

.delete-modal-title {
  font-size: 25px;
}

.btn-bg {
  text-align: center;
  padding: 30px;
}

.block-btn {
  float: left;
  width: 47%;
}

.filter-label {
  margin-top: 10px;
  margin-left: 0px;
  font-family: "PT Sans";
  color: gray;
  font-size: 13px;
}

.added-quantity {
  width: 127px;
}

.added-quantity-label {
  width: 113px;
  font-size: 13px;
}

.add-product-select-bg {
  width: 300px;
}

.add-product-title-bg {
  background-color: whitesmoke;
}

.added-quantities-ttl {
  font-family: "PT Sans";
  color: gray;
  text-align: center;
}

.category-bg {
  padding: 5px;
  float: left;
  width: 74%;
  height: 550px;
  overflow-y: scroll;
}

.category-card {
  float: left;
  width: 29%;
  height: 120px;
  margin: 5px;
  background-color: white;
  box-shadow: 2px 2px 5px lightgrey;
  border-radius: 3px;
  border: 1px solid lightgray;
  padding: 10px;
  cursor: pointer;
}

.category-content {
  float: left;
  padding: 5px;
  width: 50%;
}

.category-img {
  float: right;
  width: 40%;
  height: 120px;
  border-radius: 3px;
}

.category-name {
  font-family: "PT Sans";
  font-weight: 700;
  color: gray;
  font-size: 25px;
}

.category-description {
  font-family: "PT Sans";
  color: gray;
  font-size: 13px;
}

.line {
  background-color: blue;
}

.category-action {
  float: right;
  width: 23%;
  padding: 10px;
}

.category-action-card {
  background-color: white;
  box-shadow: 2px 2px 5px lightgrey;
  border-radius: 3px;
  border: 1px solid lightgray;
  padding: 10px;
}

.category-add-btn {
  width: 100%;
  height: 30px;
  background-color: #f28500;
  outline: none;
  border: none;
  color: white;
  font-family: "PT Sans";
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.category-add-btn:hover {
  background-color: #e48400;
}

.pro-tip-img {
  float: left;
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.pro-tip {
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 2px;
}

.add-category-modal {
  position: fixed;
  width: 30%;
  height: 400px;
  background-color: white;
  z-index: 1;
  border: 1px solid lightgray;
  margin-left: 33%;
  margin-top: 50px;
  border-radius: 5px;
  overflow-y: scroll;
}

.add-category-bg {
  padding: 20px;
}

.add-category-inpt {
  width: 340px;
}

.add-category-select-bg {
  width: 347px;
}

.file-inpt {
  color: "#f28500";
  background-color: #f28500;
  height: 30px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  color: white;
  background-color: #f28500;
  font-family: "PT Sans";
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.file-container {
  margin-top: 28px;
}

.add-product-loading {
  font-family: "PT Sans";
  font-size: 20px;
  margin-left: 45%;
  margin-top: 200px;
  color: grey;
}

.file-upload-inpt {
  width: 210px;
}

.orders-bg {
  float: left;
  padding: 15px;
  height: 550px;
  overflow-y: scroll;
  width: 70%;
  margin-right: 0px;
}

.order-card {
  height: 28px;
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
  padding-top: 23px;
  padding-left: 10px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.order-btn {
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #e48400;
  margin-right: 10px;
  float: right;
  color: white;
  cursor: pointer;
  width: 50px;
  height: 25px;
}

.order-text {
  float: left;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 600;
  color: grey;
}

.order-status {
  float: right;
  margin-right: 20px;
  width: 230px;
  height: 20px;
}

.order-status-text-time {
  float: right;
  margin-right: 10px;
  font-size: 15px;
}

.status-text-placed {
  background-color: grey;
  padding: 0px 5px 0px 5px;
  height: 20px;
  border-radius: 3px;
  color: white;
  float: right;
  margin-left: 25px;
  margin-right: 10px;
  font-size: 15px;
}

.membership-badge {
  float: right;
  background-color: #d0f0c0;
  text-align: center;
  color: green;
}

.status-text-dispatched {
  background-color: orange;
  padding: 0px 5px 0px 5px;
  height: 20px;
  border-radius: 3px;
  color: white;
  float: right;
  margin-right: 10px;
  font-size: 15px;
}

.status-text-shipped {
  background-color: yellowgreen;
  padding: 0px 5px 0px 5px;
  height: 20px;
  border-radius: 3px;
  color: white;
  float: right;
  margin-left: 25px;
  margin-right: 10px;
  font-size: 15px;
}

.status-text-delivered {
  background-color: green;
  padding: 0px 5px 0px 5px;
  height: 20px;
  border-radius: 3px;
  color: white;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
}

.status-text-cancelled {
  background-color: red;
  padding: 0px 5px 0px 5px;
  height: 20px;
  border-radius: 3px;
  color: white;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
}

.edit-order-modal {
  position: fixed;
  width: 75%;
  height: 500px;
  background-color: white;
  z-index: 1;
  border: 1px solid lightgray;
  margin-left: 13%;
  margin-top: 20px;
  border-radius: 5px;
  overflow-y: scroll;
}

.edit-order-bg {
  padding: 13px;
}

.edit-order-inpt {
  width: 270px;
}

.edit-order-address-text {
  width: 915px;
}

.name-warning {
  font-family: "PT Sans";
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.add-quantity-select-bg {
  width: 265px;
}

.offer-img {
  /* float: left; */
  width: 50%;
}

.offer-content {
  /* float: right; */
  width: 45%;
}

.offer-card {
  width: 46%;
}

.add-offer-modal {
  height: 470px;
}

.username-text {
  width: 25%;
}

.contactno-text {
  width: 15%;
}

.email-text {
  width: 30%;
}

.actions-bg-order {
  float: left;
  width: 22%;
  position: fixed;
  margin-top: 20px;
  margin-left: 72%;
  /* margin-right: 20px; */
  background-color: white;
  padding: 20px;
  /* z-index: 100; */
  height: 450;
  border-radius: 3px;
  border: 1px solid lightgray;
}

.order-filter-inpt {
  width: 100%;
}

.order-filter-btn {
  margin-top: 20px;
}

.no-order-text {
  font-family: "PT Sans";
  color: gray;
  text-align: center;
  font-size: 35px;
}

.edit-user-container {
  padding-top: 24px;
}

.seeddata-textarea {
  width: 100%;
  height: 400px;
}

.seeddata-container {
  width: 100%;
}

.seeddata-bg {
  padding: 10px;
  /* background-color: white; */
}

.line {
  color: lightgray;
  margin: 20px 0px 20px 0px;
}

.seeddata-label {
  width: 100%;
}

.invalid-json-warn {
  padding: 10px;
  background-color: red;
  font-family: "PT Sans";
  color: white;
  border-radius: 5px;
}

.coupon-text {
  width: 25%;
}

.seeddata-bg-1 {
  width: 60%;
  float: left;
  margin-right: 2%;
}

.seeddata-bg-2 {
  width: 35%;
  float: left;
}

.add-pin-code-btn {
  margin-left: 0px;
  height: 33px;
}

.add-pin-code-inpt {
  width: 80%;
}

.cod-pincode-bg {
  width: 85%;
  height: 350px;
  background-color: white;
  overflow-y: scroll;
  padding: 20px;
  margin-top: 15px;
}

.cod-pincode-heading-bg {
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 30px;
}

.cod-pincode-heading {
  font-family: "PT Sans";
  font-size: 15px;
  color: grey;
  width: 60%;
  float: left;
}

.cod-pincode-data {
  font-family: "PT Sans";
  font-size: 15px;
  color: grey;
  width: 70%;
  float: left;
}

.cod-heading {
  width: 40%;
  float: right;
}

.switch {
  margin-top: 10px;
  width: 15%;
  float: right;
}

.cod-data-bg {
  margin-right: 0px;
  align-items: flex-end;
}

.del-pin-code-btn {
  height: 20px;
  width: 35px;
}

.hometemplate-bg {
  padding-top: 20px;
  margin-right: 10px;
}

.hometemplate-textarea {
  width: 100%;
  height: 500px;
}

.template-bg {
  width: 70%;
  float: left;
}

.upload-pic-bg {
  width: 28%;
  height: 200px;
  float: left;
  margin-left: 20px;
}

.file-inpt1 {
  margin-top: 20px;
  width: 100%;
}

.uploaded-img {
  margin-top: 10px;
}

.order-status-bg {
  height: 130px;
}

.ad-template-bg {
  background-color: white;
}

.textarea {
  height: 50px;
  width: 100%;
}
